@page "/"
@using BlazorApp.Shared
@inject HttpClient Http

<h1>Generate a random episode</h1>

Let's blow dro, bro


<button class="btn btn-primary" @onclick="GetRandomEpisode">Generate Episode</button>


@if (randomEpisode == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>Selected: @randomEpisode.title from Season: @randomEpisode.season</p>
}

@code{
    private Episode randomEpisode;
    private async void GetRandomEpisode()
    {

        try
        {
            randomEpisode = await Http.GetFromJsonAsync<Episode>("/api/RandomEpisode");
        }
        catch (Exception ex)
        {

            Console.WriteLine(ex.ToString());
        }

    }
}
